.parentListing img{
    max-height: 400px;
}

.childListing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.child img {
    max-height: 200px;
    min-width: 50px;
}